
.project {
  min-height: 100vh;
  background: radial-gradient(circle at top, #1a0c06, #000);
  color: white;
  padding: 80px 20px;
  text-align: center;
}


.project-title {
  font-size: 40px;
  margin-bottom: 40px;
  background: linear-gradient(90deg, orange, #ff5e00);
  -webkit-background-clip: text;
  color: transparent;
}


.project-container {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}


.project-card {
  background: rgba(255,255,255,0.03);
  border: 1px solid rgba(255,140,0,0.2);
  border-radius: 14px;
  padding: 25px;
  transition: 0.3s ease;
}

.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 20px rgba(255,140,0,0.4);
}

.project-card h3 {
  margin-bottom: 10px;
  color: orange;
}

.project-card p {
  opacity: 0.8;
  font-size: 15px;
  margin-bottom: 15px;
}


.project-card button {
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(45deg, orange, #ff5e00);
  color: white;
  cursor: pointer;
}


@media (max-width:768px) {
  .project-container {
    grid-template-columns: 1fr;
  }

  .project-title {
    font-size: 26px;
  }
}
